tests/*.hex
software/*.o
software/*.ihex
software/out.elf
rtl/*.o
rtl/*.bo
rtl/*.hex
rtl/mkCore.v
de5/*/
de5/*.mif
de5/*.summary
de5/*.rpt
de5/*.smsg
de5/Golden_top.done
de5/Golden_top.jdi
de5/Golden_top.pin
de5/Golden_top.sld
de5/Golden_top.sof
de5/Golden_top_assignment_defaults.qdf
de5/S5_DDR3_QSYS.sopcinfo
